<a href="https://colab.research.google.com/github/murilofarias10/MF-CCTB/blob/main/Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**About Variables/Types:**

1. Float
2. Int
3. Boolean / Bool
4. String
5. Array / List
6. Date
7. None

we are creating:

*   a list of objetcs OR
*   an instance of types
to check type()

**String Methods**
```
upper() → Converts a string to uppercase.
lower() → Converts a string to lowercase.
capitalize() → Capitalizes the first letter
strip() → Removes whitespace from the beginning and end
replace(old, new) → Replaces a substring
split(separator) → Splits a string into a list
len() → Returns the length of a string
count(substring) → Counts occurrences of a substring.
find(substring) → Finds the position of a substring (-1 if not found)
```

**List Methods**
```
append(item) → Adds an item to the end of a list.
extend(iterable) → Adds multiple elements to a list
insert(index, item) → Inserts an item at a specific index
remove(item) → Removes the first occurrence of an item
pop(index) → Removes and returns an item (default is last)
sort() → Sorts a list in ascending order.
reverse() → Reverses the list order
clear() → Removes all elements from a list

lista = list(text)  # Convert string to a list of characters
return "".join(lista)  # Convert list back to string
```

**Dictionary Methods**
```
keys() → Returns all keys
values() → Returns all values
set() → removes duplicate values and Converting a String to a Set
items() → Returns key-value pairs
update(dict) → Merges another dictionary.
```

**Set Methods**
```
add(item) → Adds an element to the set
remove(item) → Removes an item, raises an error if not found
discard(item) → Removes an item without error if not found
union(set) → Combines two sets
intersection(set) → Returns common elements
difference(set) → Returns elements in a but not in b
index("pop") → Return the index position
issubset() return true or false to check one in other
X in LIST → to check if something is in the set
LIST & LIST → to get the same elements in two sets
```

**File Handling Methods**
```
open() → Opens a file.
read() → Reads the file content
write() → Writes to a file
```

1. Tuple - Immutable, Ordered () // TUPLE NESTING (one inside other)
2. list Mutable, Ordered []
3. Dictionary  - Mutable, Unordered {}
4. Set - Mutable, Unordered, Unic elements {}

**Function and Classes**

def __init__() special function

*args → passados como uma lista

**kwargs → passados como dicionarios

Aliasing → in list when you are cloning some list not change the new one D = C[:]

Class
    |__ Instance Variables (Attributes)
    |__ Methods
    |
    |__ Objects (Instances of the Class)
          |__ Access Instance Variables
          |__ Use Methods

Objects we can intarage with another objects
  Objectas have
    State or behaviors


**Reading Files with Open**

File = open("/path.txt","w") W write, R read, A appending

*   File1.name
*   File1.mode
*   File1.close()

Or using WITH
with open("/Path/rain.csv", "r") as File3:
    novo = file3.read()

file.seek(0)# Move cursor back to the beginning

Introduction to Object Oriented Programming

* 1 Encapsulation
* 2 Inheritance
* 3 Abstraction
* 4 Polymorphism (same name of objects but differents paramethers)

How to define a class
how to instantriate or acreate an object of a class
how to add state (properties) and behavior (functions) to a class/object in some case user can modify the properties and some case no (link set amout of money in bank)

Class Design - Governed by OOP Object Oriented Principles
Functional Requirements -- Add, Sub, Multipli
Non Functional Requirements -- Color, Display, Performance
Reliable Software- It gives you desired functionality and correct response.

for Desining a Class or Software is both functionality as well as non-funcitonal requirements metter

You are sypposed to design a class related to a University Student or its associated classes:
First, prepare a list of the state attributes/propties of these classe.
And specify which property must be read only which is not read-only and why ?
Also specifu whther the property is a single value or multi-value (list or single)
Please avoid atribuites associated to person class (eg: height, eye-color)
From the perspective of student not a person.

https://www.geeksforgeeks.org/higher-order-functions-in-python/

Takes another function as an argument
Returns a function as a result

Methods:
  Loguin(username, password):
  Deposit(amout):
    current_balance = current_balance + amout
  Withdraw(amout):
  current_balance = current_balance - amout
  Transfer(amout, target_account):
    current_balance = current_balance - amout

User can deposit some amout to their banc account
User can withdraw certain amout.
User can Transfer Funds.
Useer can check how much money do they gave ? User can check their current balance ?
current_balance?? - it should be properly or method ?
Should your application, give the user an option to set their the current balance ?
Answeer is No
current_balance?? it should be property or method?
Property and User should not be allowed to set modify this property.deleter
Read ONly property or attibute.


courses TYPE LIST ONLY READ
ID COURSES TYPE SINGLE ONLY READ
Grades TYPE LIST ONLY READ
Professors ID TYPE SINGLE ONLY READ
Professors Name TYPE LIST ONLY READ
fee TYPE SINGLE READ ONLY
Class Room TYPE LIST ONLY READ
Student ID TYPE SINGLE ONLY READ
Student Name TYPE SINGLE MODIFY
Country Origen TYPE SINGLE MODIFY
Date of birth TYPE SINGLE MODIFY
Email TYPE SINGLE MODIFY
Adress TYPE SINGLE MODIGY
Mobile Phone TYPE SINGLE MODIFY

In [ ]:
name = 'Tony'
age = 20
name = None
print(name)

None

In [ ]:
print('Hello, welcome')
Name = input('Enter your name: ')
Country = input('Enter your contry: ')
School = input('Enter your school: ')
Location = input('Enter the location of your school: ')
print("\n")
print("My name is: " + Name + ", from: " + Country + ", studying at: " + School + " in " + Location)

In [ ]:
FName = 'Murilo'
LName = 'Murilox'

if FName == LName:
  print('Igual')
elif len(FName) > len(LName):
  print('Maior')
else:
  print('outro')

outro

In [ ]:
word = 'I live in Vancouver'
lenght = 0
for c in word:
  lenght = lenght+1

print(lenght)

19

In [ ]:
lista = ['A','B','C']

for i in range(0,3):
  print('position %s ' % (i))
  print(lista[i])
print('\n')
lista = ['A','B','C']

for i in lista:
  print(i)

position 0
A
position 1
B
position 2
C


A
B
C

In [ ]:
x = 3+2*2
print(x)

In [ ]:
y = (3 + 2) * 2
print(y)

In [ ]:
Genres=['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i in range(5):
    print('O comprimento de: ' + (Genres[i]) + ' é: '+ str(len(Genres[i])))

O comprimento de: rock é: 4
O comprimento de: R&B é: 3
O comprimento de: Soundtrack é: 10
O comprimento de: R&B é: 3
O comprimento de: soul é: 4

In [ ]:
Genres=['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i in range(5):
    print('O comprimento de: %s é: %s ' %((Genres[i]),(len(Genres[i]))))

O comprimento de: rock é: 4
O comprimento de: R&B é: 3
O comprimento de: Soundtrack é: 10
O comprimento de: R&B é: 3
O comprimento de: soul é: 4

Functions

In [ ]:
def function():
  print('Hello, world')

function()

Hello, world

In [ ]:
def function_name(message):
  print(message)

function_name('Print 1')
function_name('Print 2')
function_name('Print 3')

Print 1
Print 2
Print 3

In [ ]:
lista = [8,4,2,5,5,8,1,0,0]
lista2 = lista
print(lista)
valor = sorted(lista)
print(valor)
print(lista)
lista2.sort()
print(lista2)

[8, 4, 2, 5, 5, 8, 1, 0, 0]
[0, 0, 1, 2, 4, 5, 5, 8, 8]
[8, 4, 2, 5, 5, 8, 1, 0, 0]
[0, 0, 1, 2, 4, 5, 5, 8, 8]

In [ ]:
for i in range(1,20):
  x = i
  y = 15
  if x < y:
    print('%s x é menor' %(x))
  elif x == y:
    print('%s x é igual' %(x))
    break
  elif x > y:
    print('x é maior')

1 x é menor
2 x é menor
3 x é menor
4 x é menor
5 x é menor
6 x é menor
7 x é menor
8 x é menor
9 x é menor
10 x é menor
11 x é menor
12 x é menor
13 x é menor
14 x é menor
15 x é igual

In [ ]:
for i in range(1,21):
  x = i
  y = 7
  if x < y:
    print('%s x é menor' %(x))
  elif x == y:
    print('%s x é igual' %(x))
    continue
  elif x > y:
    print('%s x é maior' %(x))

1 x é menor
2 x é menor
3 x é menor
4 x é menor
5 x é menor
6 x é menor
7 x é igual
8 x é maior
9 x é maior
10 x é maior
11 x é maior
12 x é maior
13 x é maior
14 x é maior
15 x é maior
16 x é maior
17 x é maior
18 x é maior
19 x é maior
20 x é maior

In [ ]:
def add(x):
  b = x+1
  return b

add(2)

3

In [ ]:
def infos(nome='usuario', idade=0):
  "add some coments inside the functions"
  print("Olá, meu nome é %s e tenho %d anos" % (nome, idade))

infos('murilo', 30)
infos(idade=30)
infos('pedro')
infos(nome='michele')

help(infos)

Olá, meu nome é murilo e tenho 30 anos
Olá, meu nome é usuario e tenho 30 anos
Olá, meu nome é pedro e tenho 0 anos
Olá, meu nome é michele e tenho 0 anos
Help on function infos in module __main__:

infos(nome='usuario', idade=0)
    add some coments inside the functions

In [ ]:
def Nowork():
  pass

print(Nowork())

None

if
while
for

functions
len()
enumerate()
append()

In [ ]:
for y in range(6):
  print(y)

lista = [1,2,3,4,5,6]

for x in range(len(lista)):
  print('posicao', x, 'elemento', lista[x])

print('\n')

for b in enumerate(lista):
  print(b)

for c,d in enumerate(lista):
  print('posicao',c)
  print('elemento',d)

In [ ]:
def interativo(*names):
  for x in names:
    print(x)

interativo('murilo','carla','samuel')

murilo
carla
samuel

In [ ]:
# Write your code below and press Shift+Enter to execute

squares = ['orange', 'orange', 'purple', 'blue ', 'orange', 'orange', 'xxxx', 'orange']

new_squares = []
i = 0
while i < len(squares):
    if squares[i] == 'orange':
        new_squares.append(squares[i])
        new_squares.append(i)
    i= i+1
print(new_squares)

['orange', 0, 'orange', 1, 'orange', 4, 'orange', 5, 'orange', 7]

In [ ]:
# Write your code below and press Shift+Enter to execute
Annie = 1996
Jane = 1999

if (Annie%4 == 0):
    print('Annie was born in a leap year')
elif (Jane%4 == 0):
    print('Jane was born in a leap year')
else:
    print('Anyone was born in a leap year')

In [ ]:
# Write your code below and press Shift+Enter to execute
Age = 14
if Age <= 9:
    print('milk porridge')
elif Age >=10 and Age <=14:
    print('sandwich')
else:
    print('burger')

In [ ]:
def interativo(*names):
  for x in names:
    print(x)

interativo(20,20)

20
20

In [ ]:
def info(nome, idade, **DIF):
  print("Nome: " + nome)
  print("Idade: " + str(idade))

  print("\nInformações adicionais:\n")

  for parametro, valor in DIF.items():
    print(parametro + ": " + valor)

info('Murilo', 30, cidade='Vancouver', telefone='672 727 8005')

Nome: Murilo
Idade: 30

Informações adicionais:

cidade: Vancouver
telefone: 672 727 8005

Global Scope (outside) x Local Scope (inside the fucntions)

In [ ]:
def AddDC(x):
  x=x+"DC"
  return(x)

letter = 'MMF'
new = AddDC(letter)

print(new)

def local():
  a = 1 #local
  return(a)

a = 333 #global
print(local())
print(a)

MMFDC
1
333

In [ ]:
def local():
  global a
  a = 1
  return(a)

a = 3333

print(local())
print(a)


a = 451

print(a)

1
1
451

list, tuples, diccitonaries and set

Mutable objects → Can be modified after creation.
Immutable objects → Cannot be modified after creation.


Tuple - Immutable, Ordered
list Mutable, Ordered []
Dictionary  - Mutable, Unordered {}
Set - Mutable, Unordered

dict.keys()
dict.values()
Mutable Immutable

In [ ]:
dic = {"Canada": "Ottawa", "Brazil": "Brasilia"}
print(dic)
print(dic.keys())
print(dic.values())

print('\n')

{'Canada': 'Ottawa', 'Brazil': 'Brasilia'}
dict_keys(['Canada', 'Brazil'])
dict_values(['Ottawa', 'Brasilia'])

In [ ]:
D = {'a':0,'b':1,'c':2}
D['c']

2

#ASSIGMENT 2025-01-29

Write a function in python to return the frequency of each number in list.

numbers = [10,40,50,14,40,10]

In [ ]:
numbers = [10,40,50,14,40,10]

lenght = len(numbers) #total position list 6
new_lista = set(numbers) #remove duplicatos 10,14,40,50
total = 0 #variable to start

for each in new_lista:
  for i in range(0, lenght):
    if each == numbers[i]:
      total = total +1
  print(each, total)
  total = 0

40 2
10 2
50 1
14 1

In [ ]:
lista = [10,40,50,14,40,10]
result = {}

def countnumber(number):
  remove_duplicates = set(number) #40,10,50,14
  for i in remove_duplicates:
    result[i] = number.count(i) #lista.count
    #print(result)
  return result

countnumber(lista)

{40: 2}
{40: 2, 10: 2}
{40: 2, 10: 2, 50: 1}
{40: 2, 10: 2, 50: 1, 14: 1}

{40: 2, 10: 2, 50: 1, 14: 1}

In [ ]:
def func_count(text):
  lista = text.split()
  final = 0
  for i in lista:
    if i =='little':
      final = final +1
  return ('total of little words is:', final)

func_count("""Mary had a little lamb little lamb, little lamb Mary had a little lamb.
Its fleece was white as snow And everywhere that Mary little went Mary went,
Mary went Everywhere that Mary went The lamb little was little sure to go""")

('total of little words is:', 7)

In [ ]:
def factorial(n):
  if n ==0:
    return 1
  return n * factorial(n-1)

factorial(0)

1

In [ ]:
murilo = 'murilo'
for i in murilo:
  print(i)

print('\n')
print(murilo[-1])

print(murilo[(len(murilo)*-1)])

m
u
r
i
l
o


o
m

In [ ]:
Numbers = "0123456"
print(Numbers[::2])
print(Numbers[0])
print(Numbers[:2])
print(Numbers[2:100])

0246
0
01
23456

In [ ]:
3+2*2

7

TUPLE NESTING

In [ ]:
tuple = ('abc', 'def',('xx',0,'zzz',11,23), 'mur', 'far')

print('The element %s is a tuple' % str(tuple))
print('The element [2][4] is %s' % (tuple[2][4]))
print('The element [4] is %s' % (tuple[4]))

The element ('abc', 'def', ('xx', 0, 'zzz', 11, 23), 'mur', 'far') is a tuple
The element [2][4] is 23
The element [4] is far

Aliasing in list

In [ ]:
LIST = [1,2,3,'a','b','c']
A = LIST
B = LIST
print(LIST)
print(A)
print(B)
print('\n')
A[0] = 'number'
print( LIST)
print(A)
print(B)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c']


['number', 2, 3, 'a', 'b', 'c']
['number', 2, 3, 'a', 'b', 'c']
['number', 2, 3, 'a', 'b', 'c']

In [ ]:
LIST2 = [1,2,3,'a','b','c']
C = LIST2
D = LIST2
print('LISTA2 %s' % (LIST2))
print('C %s' % (C))
print('D %s' % (D))
print('\n cloning')
D = C[:]
C[0] = 'number'
print('LISTA2 %s' % (LIST2))
print('C %s' % (C))
print('D %s' % (D))

LISTA2 [1, 2, 3, 'a', 'b', 'c']
C [1, 2, 3, 'a', 'b', 'c']
D [1, 2, 3, 'a', 'b', 'c']

 cloning
LISTA2 ['number', 2, 3, 'a', 'b', 'c']
C ['number', 2, 3, 'a', 'b', 'c']
D [1, 2, 3, 'a', 'b', 'c']

In [ ]:
C_tuple = (-5,1,-3)

order = sorted(C_tuple)
print(order)

In [ ]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")

# Write your code below and press Shift+Enter to execute
total = 0
for i in genres_tuple:
    total = total +1
    if i == "disco":
        print('position is %s' %(total-1))

print(genres_tuple)
genres_tuple.index("disco")

In [ ]:
def p(n):
  if n == 0:
    return
  print(n)
  p(n-1)

p(3)

3
2
1

RecursionError: maximum recursion depth exceed 996 more times lines

In [ ]:
#We want to print the next 10 number starting from the give number
def next10numbers(n):
  if n == n+10:
    return
  next10numbers(n+1)
  print(n)


next10numbers(15)

Recursive aproach
a function that calls itself from within

iteratively (while or for loop) is not as intuitive as recursive appproach.

or recursive  you can solve any problems

In [ ]:
def numbers(n, total=10):
    if total == 0:
        return
    print(n)
    numbers(n + 1, total - 1)

numbers(10)

10
11
12
13
14
15
16
17
18
19

Functions with SET

In [ ]:
lista = ['rap','house','electronic music', 'rap']
novoset = set(lista)
print(novoset)

In [ ]:
listA = [1,2,2,1]
listB = set([1,2,2,1])
print(sum(listA) == sum(listB))
print("the sum of A is:", sum(listA))
print("the sum of B is:", sum(listB))

In [ ]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
#AC/DC Back in Black The Dark Side of the Moon Thriller
album_set3

In [ ]:
# Write your code below and press Shift+Enter to execute
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
#AC/DC, Back in Black, The Dark Side of the Moon, Thriller
result = album_set1.issubset(album_set3)
#AC/DC, Back in Black, Thriller
print(result)
result2 = album_set2.issubset(album_set3)
print(result2)
result3 = album_set3.issubset(album_set1)
print(result3)

Create a Class

In [ ]:
class Circle():
  def __init__(self, value, color):
    self.radius = value;
    self.color = color;

  def add_radius(self, r):
    self.radius = self.radius + r

C1 = Circle(20, 'red')
C1.add_radius(10)

print(C1.radius)

30

In [ ]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

C1 = Car("BMW", "M3", "red")
C1.car_info()
C1.sell()
C1.car_info()
C1.sell()
C1.sell()
C1.sell()
C1.car_info()

make:  BMW
model: M3
color: red
number of owners: 0
make:  BMW
model: M3
color: red
number of owners: 1
make:  BMW
model: M3
color: red
number of owners: 4

In [ ]:
class vehicles():
    def __init__(self, maxspeed, mileage, color='White'):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.color = color
    def print_info(self):
        print('maxspeed:', self.maxspeed)
        print('mileage:', self.mileage)
        print('color', self.color)


C1 = vehicles(240, 18)

C1.print_info()

maxspeed: 240
mileage: 18
color White

In [ ]:
class vehicles():
    default_color = 'white'
    def __init__(self, maxspeed, mileage):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.seating_capacity = None

    def NEW_seating_capacity(self,seating_capacity):
        self.seating_capacity = seating_capacity

    def print_info(self):
        print('maxspeed:', self.maxspeed)
        print('mileage:', self.mileage)
        print('color: %s' % (self.default_color))
        print('seating capacity:', self.seating_capacity)
        print('\n')


Car1 = vehicles(200, 50000)
Car1.NEW_seating_capacity(4)

Car2 = vehicles(180, 75000)
Car2.NEW_seating_capacity(2)


Car1.print_info()
Car2.print_info()

maxspeed: 200
mileage: 50000
color: white
seating capacity: 4


maxspeed: 180
mileage: 75000
color: white
seating capacity: 2

Try Except

In [ ]:
#ZeroDivisionError: division by zero
1/0

#NameError: name 'a' is not defined
y = a + 5

ZeroDivisionError: division by zero

In [ ]:
#IndexError: list index out of range

a = [1, 2, 3]
print(a[10])

IndexError: list index out of range

In [ ]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    result = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
      print("Success result=",result)

Please enter a number to divide a2
Success result= 0.5

In [ ]:
import time
for i in range(20):
  if i ==15:
    try:
      #print("teste %s", (i/0))
      print(f"{i} is error")
    except:
      print("Something went wrong aaa")
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15 is error
15
16
17
18
19

In [ ]:
import time
products = [12,24,20,25,30,50,25]
for i in range(20):
    try:
      #print("teste %s", (i/0))
      print(f"{i/products[i]}")
    except Exception as ERROR:
      print(ERROR)

0.0
0.041666666666666664
0.1
0.12
0.13333333333333333
0.1
0.24
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range

In [ ]:
import time
products = [12,24,20,25,30,50,25]
for i in range(20):
    try:
      #print("teste %s", (i/0))
      print(f"{i/products[i]}")
    except IndexError as e:
      print("ERRO QUALQUER")

0.0
0.041666666666666664
0.1
0.12
0.13333333333333333
0.1
0.24
ERRO QUALQUER
ERRO QUALQUER
ERRO QUALQUER
ERRO QUALQUER
ERRO QUALQUER
ERRO QUALQUER
ERRO QUALQUER
ERRO QUALQUER
ERRO QUALQUER
ERRO QUALQUER
ERRO QUALQUER
ERRO QUALQUER
ERRO QUALQUER

FILES

In [ ]:
with open("/content/sample_data/california_housing_train.csv", "r") as File1:
  new_file = File1.read() #to read the entire file

In [ ]:
with open("/content/sample_data/california_housing_train.csv", "r") as File2:
  file_two = File2.readlines() #to create a list
  print(file_two)

In [ ]:
with open("/content/sample_data/california_housing_train.csv", "r") as File3:
  total = 1
  for i in File3:
    print('Line %s is %s' %(total, i))
    total +=1

In [ ]:
with open("/content/sample_data/california_housing_train.csv", "r") as File4:
  line_3 = File4.readlines(2) #to create a list
  print(line_3)

['"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"\n']

In [ ]:
File1.closed

True

In [ ]:
file.closed

False

In [ ]:
with open("/content/teste.csv","w+") as open_filex:
  open_filex.write("This is line 3\n")
  open_filex.write("This is line B\n")
  open_filex.write("This is line c\n")
  open_filex.seek(0)  # Move cursor back to the start
  content2 = open_filex.read()

print(content2)

This is line 3
This is line B
This is line c

In [ ]:
file = open("/content/teste.csv", "r")

In [ ]:
file.mode

'r'

In [ ]:
file.read()

'This is line 3\nThis is line B\nThis is line c\n'

In [ ]:
file.seek(0)# Move cursor back to the beginning

0

In [ ]:
file.read(5)

''

In [ ]:
#student.py
class Student:
  def __init__(self, student_id, name):
    self.student_id = student_id
    self.name = name

  def student_details(self):
    print("Student id is: %s and name is %s" %(student_id, self.name))

#library.py
class Library:
  def __init__(self, id, name):
    self.id = id
    self.name = name

#MAIN.py
    from Student import Student
    from Library import Library

#Objects can be statitics and behaviers

                   #instances = Objects
    first_test_student = Student (123, "Test Student")
    first_library = Library(111, "First Library")

    print(first_test_student.student_details())
    print(first_library)
    print(student(234, "another student").student_details())

In [1]:
# higher order function returing a function
def fun(n):
    return lambda x: x * n

# creating mutiliplier functions
double = fun(2)
triple = fun(3)

print(double(5))
print(triple(5))

10
15