<a href="https://colab.research.google.com/github/murilofarias10/MF-CCTB/blob/main/Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lets Learn about Variables:

1. Float
2. Int
3. Boolean / Bool
4. String
5. Array / List
6. Date
7. None

In [ ]:
name = 'Tony'
age = 20
name = None
print(name)

None

In [ ]:
print('Hello, welcome')
Name = input('Enter your name: ')
Country = input('Enter your contry: ')
School = input('Enter your school: ')
Location = input('Enter the location of your school: ')
print("\n")
print("My name is: " + Name + ", from: " + Country + ", studying at: " + School + " in " + Location)

In [ ]:
FName = 'Murilo'
LName = 'Murilox'

if FName == LName:
  print('Igual')
elif len(FName) > len(LName):
  print('Maior')
else:
  print('outro')

outro

In [ ]:
word = 'I live in Vancouver'
lenght = 0
for c in word:
  lenght = lenght+1

print(lenght)

19

In [ ]:
lista = ['A','B','C']

for i in range(0,3):
  print('position %s ' % (i))
  print(lista[i])
print('\n')
lista = ['A','B','C']

for i in lista:
  print(i)

position 0
A
position 1
B
position 2
C


A
B
C

In [ ]:
Genres=['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i in range(5):
    print('O comprimento de: ' + (Genres[i]) + ' é: '+ str(len(Genres[i])))

O comprimento de: rock é: 4
O comprimento de: R&B é: 3
O comprimento de: Soundtrack é: 10
O comprimento de: R&B é: 3
O comprimento de: soul é: 4

In [ ]:
Genres=['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i in range(5):
    print('O comprimento de: %s é: %s ' %((Genres[i]),(len(Genres[i]))))

O comprimento de: rock é: 4
O comprimento de: R&B é: 3
O comprimento de: Soundtrack é: 10
O comprimento de: R&B é: 3
O comprimento de: soul é: 4

Functions

In [ ]:
def function():
  print('Hello, world')

function()

Hello, world

In [ ]:
def function_name(message):
  print(message)

function_name('Print 1')
function_name('Print 2')
function_name('Print 3')

Print 1
Print 2
Print 3

In [ ]:
lista = [8,4,2,5,5,8,1,0,0]
lista2 = lista
print(lista)
valor = sorted(lista)
print(valor)
print(lista)
lista2.sort()
print(lista2)

[8, 4, 2, 5, 5, 8, 1, 0, 0]
[0, 0, 1, 2, 4, 5, 5, 8, 8]
[8, 4, 2, 5, 5, 8, 1, 0, 0]
[0, 0, 1, 2, 4, 5, 5, 8, 8]

In [ ]:
for i in range(1,20):
  x = i
  y = 15
  if x < y:
    print('%s x é menor' %(x))
  elif x == y:
    print('%s x é igual' %(x))
    break
  elif x > y:
    print('x é maior')

1 x é menor
2 x é menor
3 x é menor
4 x é menor
5 x é menor
6 x é menor
7 x é menor
8 x é menor
9 x é menor
10 x é menor
11 x é menor
12 x é menor
13 x é menor
14 x é menor
15 x é igual

In [ ]:
for i in range(1,21):
  x = i
  y = 7
  if x < y:
    print('%s x é menor' %(x))
  elif x == y:
    print('%s x é igual' %(x))
    continue
  elif x > y:
    print('%s x é maior' %(x))

1 x é menor
2 x é menor
3 x é menor
4 x é menor
5 x é menor
6 x é menor
7 x é igual
8 x é maior
9 x é maior
10 x é maior
11 x é maior
12 x é maior
13 x é maior
14 x é maior
15 x é maior
16 x é maior
17 x é maior
18 x é maior
19 x é maior
20 x é maior

In [ ]:
def add(x):
  b = x+1
  return b

add(2)

3

In [ ]:
def infos(nome='usuario', idade=0):
  "add some coments inside the functions"
  print("Olá, meu nome é %s e tenho %d anos" % (nome, idade))

infos('murilo', 30)
infos(idade=30)
infos('pedro')
infos(nome='michele')

help(infos)

Olá, meu nome é murilo e tenho 30 anos
Olá, meu nome é usuario e tenho 30 anos
Olá, meu nome é pedro e tenho 0 anos
Olá, meu nome é michele e tenho 0 anos
Help on function infos in module __main__:

infos(nome='usuario', idade=0)
    add some coments inside the functions

In [ ]:
def Nowork():
  pass

print(Nowork())

None

if
while
for

functions
len()
enumerate()
append()

In [ ]:
for y in range(6):
  print(y)

lista = [1,2,3,4,5,6]

for x in range(len(lista)):
  print('posicao', x, 'elemento', lista[x])

print('\n')

for b in enumerate(lista):
  print(b)

for c,d in enumerate(lista):
  print('posicao',c)
  print('elemento',d)

In [ ]:
def interativo(*names):
  for x in names:
    print(x)

interativo('murilo','carla','samuel')

murilo
carla
samuel

In [ ]:
def interativo(*names):
  for x in names:
    print(x)

interativo(20,20)

20
20

In [ ]:
def info(nome, idade, **kwargs):
  print("Nome: " + nome)
  print("Idade: " + str(idade))

  print("\nInformações adicionais:\n")

  for parametro, valor in kwargs.items():
    print(parametro + ": " + str(valor))

info('Murilo', 30, cidade='Vancouver', telefone='672 727 8005')

Nome: Murilo
Idade: 30

Informações adicionais:

cidade: Vancouver
telefone: 672 727 8005

Global Scope (outside) x Local Scope (inside the fucntions)

In [ ]:
def AddDC(x):
  x=x+"DC"
  return(x)

letter = 'MMF'
new = AddDC(letter)

print(new)

def local():
  a = 1 #local
  return(a)

a = 333 #global
print(local())
print(a)

MMFDC
1
333

In [ ]:
def local():
  global a
  a = 1
  return(a)

a = 3333

print(local())
print(a)


a = 451

print(a)

1
1
451

list, tuples, diccitonaries and set

Mutable objects → Can be modified after creation.
Immutable objects → Cannot be modified after creation.


Tuple - Immutable, Ordered
list Mutable, Ordered []
Dictionary  - Mutable, Unordered {}
Set - Mutable, Unordered

dict.keys()
dict.values()
Mutable Immutable

In [8]:
dic = {"Canada": "Ottawa", "Brazil": "Brasilia"}
print(dic)
print(dic.keys())
print(dic.values())

print('\n')

{'Canada': 'Ottawa', 'Brazil': 'Brasilia'}
dict_keys(['Canada', 'Brazil'])
dict_values(['Ottawa', 'Brasilia'])

#ASSIGMENT 2025-01-29

Write a function in python to return the frequency of each number in list.

numbers = [10,40,50,14,40,10]

In [43]:
numbers = [10,40,50,14,40,10]

lenght = len(numbers) #total position list 6
new_lista = set(numbers) #remove duplicatos 10,14,40,50
total = 0 #variable to start

for each in new_lista:
  for i in range(0, lenght):
    if each == numbers[i]:
      total = total +1
  print(each, total)
  total = 0

40 2
10 2
50 1
14 1

In [42]:
lista = [10,40,50,14,40,10]
result = {}
def countnumber(number):
  remove = set(number)
  for each in remove:
    result.append(each)


# {40:2, 10:2, 50:1, 14:1 }


countnumber(lista)
print(result)

AttributeError: 'dict' object has no attribute 'append'

In [30]:
for each in new_lista:
  print(each)

40
10
50
14

In [28]:
for i in range(0,6):
  print(i)

0
1
2
3
4
5