<a href="https://colab.research.google.com/github/murilofarias10/MF-CCTB/blob/main/LAB_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://cognitiveclass.ai/courses/python-for-data-science#about-course

Lab Functions

Complete the function  f  so that it returns the product of a and b. Use the next cell to test the function.

In [2]:
def f(a,b):
    x = a*b
    return x

f(2,10)

20

Test the function using the next cell:

In [25]:
def function(a,b):
  return a+b

a=4
b=2

if a*b==function(a,b):
    print("Correct.")
else:
    print("Incorrect.")

Incorrect.

Complete the function g such that the input c is a list of integers and the output is the sum of all the elements in the list.

In [28]:
def g(c):
    return sum(c)

list = [1,3,5,4,0,0,5]

g(list)

18

Test the function using the next cell:

In [34]:
def new_function(c):
    return sum(c)

list1=[1,2,3,4,5]
list2=[0,2,4,5]

if sum(list2)==new_function(list1):
    print("Correct.")
else:
    print("Incorrect.")

Incorrect.

In [38]:
def new_function(c):
    return sum(c)

list_of_clusters = [[1, 2, 3, 4, 5], [0, 2, 4, 5]]

if sum(list_of_clusters[0]) == new_function(list_of_clusters[1]):
    print("Correct.")
else:
    print("Incorrect.")

if sum(list_of_clusters[0]) == new_function(list_of_clusters[0]):
    print("Correct.")
else:
    print("Incorrect.")

Incorrect.
Correct.

Come up with a function that divides the first input by the second input:

In [44]:
def calculate(a,c):
  return(a/c)

calculate(2,1)

2.0

Use the function con for the following question.

In [45]:
def con(a, b):
    return(a + b)

con(10,10)

20

In [50]:
def con(a, b):
  return(a + b)

con('10','string')

'10string'

In [49]:
def con(a, b):
  a = str(a)
  return(a + b)

con(10,'string')

'10string'

Can the con function we defined before be used to concatenate lists or tuples?

In [51]:
def con(a, b):
    return(a + b)
list1 = [1,2,3]
list2 = [3,3,4]

con(list1, list2)

[1, 2, 3, 3, 3, 4]

In [53]:
def con(a, b):
    return(a + b)

con([0,0,'abc', 'd',0,'xxx'], [5,5,4])

[0, 0, 'abc', 'd', 0, 'xxx', 5, 5, 4]

Write a function code to find total count of word little in the given string: "Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go"**

In [54]:
p = 'Murilo'
print(len(p))

6

In [90]:

text = """Mary had a little lamb Little lamb, little lamb Mary had a little lamb.
Its fleece was white as snow And everywhere that Mary went Mary went,
Mary went Everywhere that Mary went The lamb was sure to go"""

result = text.split()
final = 0

for i in result:
  if i == 'Little' or i=='little':
    final = final+1
  else:
    continue

print('total of little words is:', final)

total of little words is: 4

In [93]:

text = """Mary had a little lamb Little lamb, little lamb Mary had a little lamb.
Its fleece was white as snow And everywhere that Mary went Mary went,
Mary went Everywhere that Mary went The lamb was sure to go"""

result = text.split()
final = 0

for i in result:
  if i == 'little':
    final = final+1
  else:
    continue

print('total of little words is:', final)

total of little words is: 3

In [99]:

def func_count(text):
  lista = text.split()
  final = 0
  for i in lista:
    if i =='little':
      final = final +1
    else:
      continue
  return ('total of little words is:', final)

func_count("""Mary had a little lamb Little lamb, little lamb Mary had a little lamb.
Its fleece was white as snow And everywhere that Mary went Mary went,
Mary went Everywhere that Mary went The lamb was sure to go""")

('total of little words is:', 3)

In [91]:
def freq(string,passedkey):

    #step1: A list variable is declared and initialized to an empty list.
    words = []

    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()

    #step3: Declare a dictionary
    Dict = {}

    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        if(key == passedkey):
            Dict[key] = words.count(key)
    #step5: Print the dictionary
    print("Total Count:",Dict)

#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go","little")

Total Count: {'little': 3}